gpg_key.txt
Data
_build/
.history/
References/
output_files/
*.pyc
*.ipynb_checkpoints
hapi_db/
book/
backend/__pycache__/
database_utitlites/optical_depth.db
database_utitlites/.vscode
database_utitlites/spectral_line.db/
/.idea
Figures/
Database/